*{
	margin: 0;
	padding: 0;
}
.hedder{
	width: 100%;
	background-color: antiquewhite;
}
.heade{
	width: 1170px;
	background-color: aquamarine;
	margin: auto;
	height: 100px;
	display: flex;
	position: relative;
}
.logo{
	width: 160px;
	background-image: url(img/xbt.gif);
	background-repeat: no-repeat;
	height: 100px;
}
.authentic{
	height: 100px;
	width: 101px;
	background-image: url(img/xuebi.png);
	background-repeat: no-repeat;
	display: block;
}
.authentic1{
	background-position-x: -100px;
}
.authentic2{
	background-position-x: -200px;
}
.serch{
	height: 60px;
	width: 453px;
	margin: 31px 0 0 145px;

}
.serc{
	height: 28px;
	width: 413px;
	    border-top-left-radius: 2px;
	    border-bottom-left-radius: 2px;
		border-radius: 2px;
		border: 2px solid #fa2a83;
		padding: 2px 0 2px 12px;
		display: flex;
		background-color: white;
}
.serc input{
	width: 360px;
	border: none;
	outline: none;
	height: 20px;
	margin-top: 3px;
}
#sousuo{
	width: 53px;
	height: 32px;
	background-color: #fa2a83;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	display: inline-block;
	margin-top:-2px;
	
}
#sousuo span{
	background-image: url(img/sprites-hash-b45bfef8.png);
	background-repeat: no-repeat;
	background-position: -70px -202px;
	width: 26px;
	height: 28px;
		display: inline-block;
		margin: 0 16px;
	}
.serch ul{
	width: 375px;
	height: 27px;
	/* background-color: orange; */
	line-height: 27px;
	margin-left: 4px;
	}
.serch ul li{
	list-style: none;
	float: left;
	font-size: 12px;
	color: #999;
}
.serch ul li span{
	color: #ccc;
	margin:0 9px;
}
.heade-right{
	height: 34px;
	width: 96px;
    border: 1px solid #ccc;
	background-color: #f6f7f9;
	border-radius: 2px;
	display: flex;
	position: absolute;
	right: 0;
	top: 30px;
}
.load{
	height: 20px;
	width: 14px;
	background-image: url(img/sprites-hash-b45bfef8.png);
	background-repeat: no-repeat;
	background-position: -113px -206px;
	background-color: white;
	margin: 7px 0 0 5px;
}
.shop{
	font-size: 12px;
	color: #333;
	line-height: 34px;
	margin: 0 6px;
}
.zero{
	height: 16px;
	width: 24px;
	background-color: #f00581;
	border-radius: 8px;
	text-align: center;
	font-size: 12px;
	color: white;
		margin-top: 9px;
}
.nav ul{
	height: 43px;
	width: 1170px;
	background-color: palegoldenrod;
	margin: auto;
	list-style: none;
	line-height: 43px;
	text-align: center;
}
.nav ul li{
	float:left;
	padding: 0 15px;
	font-size: 16px;
	color: #333;
	cursor:pointer;
}
.nav ul li:hover{
	color: #F00581;
	}
.nav ul .page{
	    font-weight: 700;
	    color: #f10180;
		margin-left: 20px;
}
.nav ul .more{
	width: 62px;
	height: 240px;
	background-color: #F00581;
	display: none;
}
.nav ul .more li{
	height: 40px;
	background-color: white;
	width: 62px;
	padding: 0;
	color: #333333;
	}
.nav ul .more li:hover{
	color: #F00581;
	}
		
.nav-left{
	width: 126px;
	background-color:#fa2a83 ;
	color: white;
	height: 43px;	
	padding: 0 15px;
	background-image: url(img/1536548648745.png);
	background-repeat: no-repeat;
	background-position: 32px 5px;
	text-indent: 1.5em;
	position: relative;
}
.nav-left:hover .nav-two {
	display: block;
	}
.nav .nav-two {
	width: 156px;
	height: 400px;
	position: absolute;
	left: 0;
    display: none;
	}
.nav .nav-two li{ 
	width: 126px;
	height: 40px;
	background-color:#fa2a83 ;
	font-size: 12px;
	text-align: center;
	line-height: 40px;
	text-indent: 0;
	list-style: none;
	padding: 0 15px;
}
.banner {
	width: 100%;
	height: 502px;
	background-image: url(img/15796851337642.jpg);
	background-repeat: no-repeat;
	background-size: 100% 502px ;
	position: relative;
}
.bg {
	width: 1146px;
	height: 440px;
	padding:12px 12px 0 12px ;
   background-image: url(img/15795784096500.jpg); 
	background-repeat: no-repeat;
	background-size: 1146px 400px ;
	background-color: white;
	background-position: 12px 12px;
	position: absolute; 
	margin: 45px 187px ;
	box-shadow: 0 1px 3px rgba(167,167,167,.4);
}
.day{
	margin: 20px auto;
	width: 1170px;
	height: 70px;
}
.endless{
	height: 700px;
	width: 1170px;
	background-color: #7FFFD4;
	margin: auto;
}
.endless-right{
	height: 342px;
	width: 600px;
	background-color: paleturquoise;
	background-image: url(img/mst_3cd10bf505bfcee9ef8e4aeca6e7ea67_1200x684_90.jpg);
	background-repeat: no-repeat;
	background-size: 600px 342px;
	display: flex;
	}
.endless-right	img{
	height: 217px;
	width: 170px;
	margin: 70px 0 0;
}
.endless-right .first{
	margin-left: 20px;
}

	








