* {
	margin: 0;
	padding: 0;
}

.nav {
	width: 1519px;
	height: 70px;
	margin: auto;
}
.nav a {
	width: 125px;
	/*background-color: red;*/
	height: 70px;
	display: inline-block;
	padding: 0 70px;
	float: left;
}

.hed {
	width: 934px;
	height: 70px;
	/*background-color: beige;*/
	float: left;
}

.hed ul {
	width: 480px;
	background-color: white;
	height: 70px;
	float: left;
	list-style: none;
	margin-left: 235.5px;
}

.hed ul li a {
	/*display: inline-block;*/
	height: 70px;
	width: 90px;
	/*background-color: cyan;*/
	text-align: center;
	line-height: 70px;
	text-decoration: none;
	padding: 0;
	font-size: 14px;
	color: #7d7d7e;
	margin:0 3px ;
	/*position: relative;*/
}

.hed ul li a:hover {
	background-color: #403D3B;
	color: #FFFFFF;
}
.hed ul li a:hover .ejdh{
	display: block;
}
.ejdh{
	/*height:70px;*/
	width: 90px;
    background-color: #403D3B;
	color: #FFFFFF;
	display: none;
	
}
.ejdh p{
	width: 70px;
	height: 70px;
    border-bottom: 1px solid #999;
    margin-left:10px ;
}
.shouye {
	font-weight: bold;
	color: #666;
}
.en {
	height: 70px;
	width: 250px;
	/*background-color: palegreen;*/
	float: left;
	/*margin-left: 201px;*/
}
.en a {
	/*display: inline-block;*/
	width: 72px;
	height: 70px;
	background-color: white;
	padding: 0;
	line-height: 70px;
	text-decoration: none;
	color: #7d7d7e;
}

.dl {
	height: 70px;
	width: 150px;
	background-color: white;
	float: left;
}

.dl a {
	height: 70px;
	width: 40px;
	margin-left: 10px;
	text-align: center;
	/*float: left;*/
}

.serch {
	height: 70px;
	width: 70px;
	/*background-color: palevioletred;*/
	float: left;
	background-image: url(img/qyy/serch.jpg);
	background-repeat: no-repeat;
	background-position: 26px 26px;
	position: relative;
}
.serch:hover .sousuo{
	display: block;
}
.sousuo{
	height:70px;
	width:436px;
	background-color: firebrick;
	position: absolute;
	right: 0px;
	display: none;

}
.ss{
	height: 70px;
	width: 296px;
	background-color:#f8f8f8;
	float: left;
	
}
.ss input{
	height: 50px;
	width: 276px;
	margin: 10px;
	border: none;
	outline: none;
	background-color:#f8f8f8;
	text-indent: 1em;

}
.point{
	width: 70px;
	height: 70px;
	background-color: black;
	color: white;
	text-align: center;
	line-height: 70px;
	cursor: pointer;
	float: left;
	
}
.bg{
	width: 100%;
	height: 280px;
	background-image: url(../../img/qyy/bg1.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	text-align:center ;
		color: white;
		line-height: 50px;
		font-weight: bold;
		font-size: 20px;
}
.bg p{
	margin-top: 65px;
	position: absolute;
	height: 150px;
	width: 20px;
	left: 50%;
}
.zhuce{
	height: 730px;
	width: 1142px;
	/*background-color: #98FB98;*/
	margin: auto;
}
.set{
	height: 38px;
	/*background-color: peachpuff;*/
	line-height: 38px;
}
.set a{
	color: #969696;
	text-decoration: none;
}
.set span{
	color: #403e43;
}
h1{
	font-size: 20px;
	/*height: 40px;*/
	padding: 40px 0;
	text-align: center;
}
.setup{
	height: 520px;
	width: 750px;
	/*background-color:plum;*/
	padding: 30px 196px;
}
.item{
	width: 750px;
	height: 40px;
	/*background-color: papayawhip;*/
	position: relative;
	font-size: 14px;
	color:#6d6d6d;
	margin-left: 100px;
	
}
.item input{
	width: 189px;
	height: 25px;
	border: 1px solid #6d6d6d;
	margin-left: 5px;
	}
	.item input::-webkit-input-placeholder{
		font-size: 12px;
		text-indent: 0.5em;
	}
.item span{
		margin:-5px 5px 0;
		font-size: 12px;
		color: #18151d;
}
.yz{
	/*height: 27px;*/
	width: 80px;
	font-size: 12px;
	background-color: #333137;
	display:inline-block;
	text-align: center;
	line-height: 28px;
	margin: 5px 6px;
	cursor:pointer;
}
.item select{
	width: 128px;
	height: 27px;
	color:#6d6d6d ;
	font-size: 12px;
	margin-left: 5px;
}
#sf{
	height: 12px;
	width: 12px;
}
#dz{
	/*height: 27px;*/
	width: 300px;
	margin-left: 71px;
}
#xy{
	height: 12px;
	width: 12px;
     margin-left:71px;
}
.itema{
	margin-top: -38px;	
}
#gs{
		width: 300px;

}
.itemb input{
	border: none;
	margin-left: 71px;
	background-color: #333137;
	color: white;
	height: 30px;
	cursor:pointer;
	
}
.alr{
	height: 30px;
   width: 190px;
	font-size:12px;
	color: #333137;
	text-align: center;
	line-height: 30px;
     margin-left: 171px;
}
.alr a{
	text-decoration: underline;
	color:#333137 ;
}
/*bottom*/
.bottom {
	width: 100%;
	height: 202px;
	border-top: solid #333 2px;
	margin-top:50px;
	float: left;
}
.dibu{
	height: 200px;
	width: 1100px;
	/*background-color: fuchsia;*/
	margin: auto;
}
.inform{
	height: 180px;
	width: 910px;
	/*margin-left: 100px;*/
	/*background-color: tan;*/
	position: relative;
	padding-bottom: 20px;
		float: left;
	
}
.informtion{
	width: 455px;
	height: 60px;
	/*background-color: royalblue;*/
		list-style: none;
		float: left;
		
}
.informtion li{
	float: left;
	font-size: 14px;
	/*width: 28px;*/
	height:60px ;
	padding-left: 29px;
    line-height: 100px;
    cursor: pointer;
}
.informtion .inf{
	height: 60px;
	width: 70px;
	background-color: #333137;
    color: white;
    line-height: 90px;
	float: left;
	font-size: 16px;
	padding: 0;
	text-align: center; 
}
.icp{
	height: 27px;
	width: 910px;
	/*background-color: firebrick;*/
	font-size: 12px;	
}
.copy{
	width:435px;
	/*height: 27px;*/
	/*font-size: 12px;*/
	float: left;
	color: #969696;
	margin-top: 90px;
}
.icp p{
	width: 112px;
	/*height: 27px;*/
	float: left;
	color: #7D7D7E;
	margin-top: 90px;
}
.share{
	width: 100px;
	height: 165px;
	/*background-color: yellowgreen;*/
		float:left;
	padding: 36px 45px 0;
}
.footer{
	width: 100px;
	height: 29px;
	list-style: none;
}
.footer li{
	width: 29px;
	height: 29px;
	padding: 2px;
	/*position: relative;*/
	float: left;
}
.erweima{
	height: 90px;
	width: 90px;
	margin: 20px 5px;
}
.erweima img{
	height: 90px;
	width: 90px;
}
